@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";


@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.home-background{
background-color: #f5f5f5;
}


.row>* {
    padding: 0 !important;
}

.list-group{
    --bs-list-group-border-color:#000000 !important;
}

.new-contact{
    width: 60% !important;
}

.home-img{
    // width: 22rem;
    // height: 23rem;
    // margin-top: 5rem;
}
.height{
    height: 30rem;
}

.bg-hero{
    background-color: #ededed;
}
.bg-award{
    background-color: #ededed;
}
body{
    overflow-x: hidden;
}

.card-small{
    background-color:#ededed !important;
}

.hero-padding{
    padding: 2rem;
    margin: 1rem;
}

.list-group{
    background-color: #000000;
    --bs-list-group-active-bg : #000000 !important;
    --bs-list-group-active-border-color : #000000 !important;
}
.bg-hero-sec{
    background-color: #000000;
}

#list-bg{
    --bs-list-group-bg: #000000 !important;
    --bs-list-group-color: #f5f5f5 !important;
}



@media only screen and (max-width : 1470px){
    #international-font{
        font-size : 7rem;
    }

   
}

@media only screen and (max-width : 1219px){
    #international-font{
        font-size : 5rem;
    }

   
}

@media only screen and (max-width : 341px){
    #home-font{
        font-size: 15px !important;
    }

    #parent-font{
        font-size: 15px !important;
    }
}




@media only screen and (max-width : 1200px){
    // .bg-hero{
    //   background-color: white;
    // }

    #award-text{
        font-size: 13px !important;
        margin-left: 4rem;
    }

    #academic-text{
        width: 75%;
    }    
    .bg-hero{
        background-color: white;
    }
   
}

@media only screen and (max-width : 992px){
    // .bg-hero{
    //   background-color: white;
    // }

    #award-text{
        font-size: 16px !important;
        margin-right: 7rem;
    }
    

   
}


@media only screen and (max-width : 766px){
   

    #award-text{
        font-size: 14px !important;
        margin-right: 7rem;
    }
    #home-font{
        font-size: 16px !important;
    }

   
}

@media only screen and (max-width : 575px){
   

    #img-award{
        display: block !important;
       
        
    }
    

   
}

@media only screen and (max-width : 500px){
   

    #my-img{
        width: 15rem!important;
       
        
    }

    #btn-margin{
        margin-bottom: 4rem;
    }
    #home-font{
        font-size: 13px !important;
        font-weight: bold !important;
        margin-top: 10px;
    }

}

@media only screen and (max-width : 575px){
   

    #my-img{
        width: 15rem!important;
       
        
    }

    #btn-margin{
        margin-bottom: 4rem;
    }
    

}

@media only screen and (max-width : 743px){
    #nav-text{
        display: none !important;
    }
}


@media only screen and (max-width : 1196px){
    #international-font{
        font-size : 4rem;
    }


   
}
@media only screen and (max-width : 360px){
    #international-font{
        font-size : 25px!important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95% !important;

    }
}

@media only screen and (max-width : 470px){
    #international-font{
        font-size : 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80% !important;

    }
}

@media only screen and (max-width : 410px){
    #international-font{
        font-size: 30px;
    }
    #international-font{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90% !important;

    }
}


@media only screen and (max-width : 991px){
    #international-font{
        font-size : 4rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;


    }

    #re_img{
        width: 15rem !important;

    }

   
}

@media only screen and (max-width : 766px){
    #international-font{
        font-size : 4rem;
    }

   
}

@media only screen and (max-width : 1470px){
   .hero-card{
    width: 25rem !important;
   }

   
}


@media only screen and (max-width : 1400px){
   .home-tabs{
    padding: 0.4rem !important;
    margin:0.5rem !important;
   }
 
    
 }

 @media only screen and (max-width : 1219px){
    .buy-card{
        width: 28rem !important;
        border-radius: 30px !important;
      position: relative;
      left:3rem;
    }
  
     
 }

.bg-black{
    --bs-bg-opacity: 0 !important;
}

  @media only screen and (max-width : 1200px){
    .buy-card{
        width: 22rem !important;
        border-radius: 30px !important;
      position: relative;
      left: 5rem;
    }
  
     
  }



@media only screen and (max-width : 575px){
    .small-nav{
        display: none !important;
    }

    #inter-img{
        display: none !important;
    }

    #international-font{
        font-size: 40px;
    }
    
    #changing_to_block{
        display: block !important;
    }

    #margin-left{
       margin-left: 16px !important;
    }
     
  }

  @media only screen and (max-width: 393px){
    #right-align{
        right: 3rem !important;
    }

    #center{
        display: flex;
        justify-content: center;
    }

    #award-text{
        width: 100%;
        margin-left: 0;
    }
  }

  @media only screen and (max-width: 430px){
    #right-align{
        right: 3rem !important;
    }

    #center{
        display: flex;
        justify-content: center;
    }

    #award-text{
        width: 100%;
        margin-left: 0;
    }
  }

